__pycache__/chromadb_client.cpython-39.pyc
Data/Resume/resume-dataset.zip
Data/Resume/UpdatedResumeDataSet.csv
data/Resume/resume-dataset.zip
data/Resume/UpdatedResumeDataSet.csv
data_processing_pipeline/__pycache__/data_loader.cpython-39.pyc
